.grid {
  display: grid;
  gap: var(--mobile-gap, 0);
  grid-template-columns: repeat(max(var(--mobile-num-columns, 1), 1), 1fr);
}

/* tablet */
@media (min-width: 641px) {
  .grid {
    gap: var(--tablet-gap, 0);
    grid-template-columns: repeat(max(var(--tablet-num-columns, 1), 1), 1fr);
  }
}

/* desktop */
@media (min-width: 1025px) {
  .grid {
    gap: var(--gap, 0);
    grid-template-columns: repeat(max(var(--num-columns, 1), 1), 1fr);
  }
}
