.space {
  display: block;
  height: var(--mobile-size);
  width: var(--mobile-size);
}

.spaceVertical {
  width: 100%;
  height: var(--mobile-size);
}

.spaceHorizontal {
  width: var(--mobile-size);
  height: 100%;
}

@media (min-width: 768px) {
  .space {
    height: var(--size);
    width: var(--size);
  }

  .spaceVertical {
    width: 100%;
    height: var(--size);
  }

  .spaceHorizontal {
    width: var(--size);
    height: 100%;
  }
}
